*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #1e2227;
    color: #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    background: #1e2227;
    z-index: 1;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.nav-icons img{
    width: 25px;
    margin-left: 30px;
    cursor: pointer;
}
.row{
    width: 100%;
    height: 100%;
    display: flex;
}
.col-1, .col-2{
    display: flex;
    flex-basis: 50%;
    height: 100%;
    padding-top: 50px;
    justify-content: center;
    flex-direction: column;
}
.col-2{
    background: red;
}
.col-1{
    padding-left: 8%;
}
.col-1 h1{
    font-size: 64px;
    line-height: 100px;
    margin-bottom: 5px;
}
.col-1 h2{
    font-size: 35px;
    margin-top: 60px;
    font-weight: 500;
}
button{
    display: inline-block;
    width: fit-content;
    padding: 18px 50px;
    background: red;
    border: none;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.feature-image{
    width: 100%;
    text-align: center;
}
.feature-image img{
    width: 80%;
}
.small-img-row{
    display: flex;
    width: 80%;
    margin: 70px auto 0;
    align-items: center;
    justify-content: space-around;
}
.small-img{
    width: 80px;
    height: 80px;
    background: #ccc;
}